---
layout: default
title: "Mini - Quiz"
---
<div class="page">
  <h1 class="page-title">MiniQuiz</h1>
  <p class="lead">Mini Quiz by Super 35 :)</p>
</div>


<script>(function(t,e,s,n){var o,c,r;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),c=o[o.length-1],r=e.createElement(s),r.type="text/javascript",r.async=!0,r.id=n,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/vN4VXsmQfQCpkSrSuDj_2BFauSKSE8TqDZzYvKqUIE_2Fma0Brz3dCxzO76BMmxITsd2.js"].join(""),c.parentNode.insertBefore(r,c))})(window,document,"script","smcx-sdk");</script>


<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Check me out</a>
  {% else %}
    <span class="pagination-item older">Check me out</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="https://www.surveymonkey.com/r/JXQHNVX">Tap here to go quiz</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Tap here to go quiz</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Go to QUIZ</span>
  {% endif %}
</div>

