---
layout: default
title: YouTube site
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="https://www.youtube.com/channel/UC2TjAWldj-66ohSQgukjfaw">Click to sub</a>
  {% else %}
    <span class="pagination-item clicktosub">Click to sub</span>
  {% endif %}
  {% if paginator.previous_page %}

</div>
